nav {
  text-align: center;
  padding: 15px 0;
}

nav a {
  text-decoration: none;
  font-weight: 600;
  color: #b95a5a;
  margin: 0 12px;
  padding: 6px 12px;
  border-radius: 4px;
  transition: background 0.3s;
}

nav a:hover {
  color: rgba(16, 12, 143, 0.832);
}

hr {
  width: 60%;
  margin-bottom: 80px;
  
  border: 1px solid rgba(24, 23, 23, 0.4);
}
h1{
  text-align: center;
  color: rgb(19, 83, 83);
}
.app-title {
  text-align: center;
  margin-top: 20px;
  color: #0f4c5c;
}
